body{
    text-align: center;
}

#listDiv,#listSinger{
    width: 100%;
    overflow-y:scroll;
    height:480px;
}

tr{
    text-align: left;
}
td{
    cursor:pointer;
}

#iframeDiv{
    width:50%;
    max-width : 500px;
    min-width : 310px;
    display:inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

#content{
    /*text-align:center;*/
    display:inline-block;
    max-width: 500px;
}

.btn-group{
    padding: 10px 5px 0px 5px;
}

/* The side navigation menu */
.messageSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8081;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.messageSidebarCurtain {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8080;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
}

.messageSidebar form {
    padding: 16px;
    position: absolute;
    top: 0px;
}

.messageSidebar ul {
    padding: 60px 16px 0px 16px;
    overflow-y: auto;
}

.messageSidebar ul li {
    padding: 3px 6px;
    list-style: none;
    color: #f1f1f1;
    display: block;
    text-align: left;
}

.messageSidebar ul li .content {
    padding-left: 8px;
}

/* Position and style the close button (top right corner) */
.messageSidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 8082;
}

.singerBtn{
    padding:0px 1px 0px 1px;
    margin:0px 2px 0px 2px;
    font-size:9px;
    font-weight:bold;
}